{% extends "base.html" %}
{% block title %}Achievements{% endblock %}
{% block content %}

<section class="container">
    <h1>My Achievements</h1>
    <p>Here are some of the awards I have won in the past few years.</p>
<div class="row w-100 d-flex align-items-stretch justify-content-center flex-wrap mb-3">
    <div class="col-lg-6 col-12  d-flex flex-column justify-content-center align-items-lg-start align-items-center">
        <img src="{{ url_for('static', filename='images/HALON-2023.jpg') }}" alt="HALON-2023 price for 'Most Vulnerabilities Found at Most Participating Organisations'" \
        height="350px">
    </div>
    <div class="col-lg-6 col-12  d-flex flex-column align-items-center justify-content-center">
        <img src="{{ url_for('static', filename='images/HALON-2024.jpg') }}" alt="HALON-2024 price for 'Most Vulnerabilities Found at Most Participating Organisations' and 'Most Advanced Verified Vulnerabilitie'" 
        height="350px">
    </div>
</div>


</section>
{% endblock %}